header{
    width: 100%;
    text-align: center;
    height: 25%;
    }
/*Estlios da area o Menu*/
    nav#menu {
        width: 100%;
        height: 40px;
        background-color: #f0833b;
    }
    .teste{
        width: 100%;
        display: inline-block;
    }
 .mensagem{
    text-align: center;
    width: 50%;
    height: 120px;
    float: left;
    margin-top:2% ;
    box-sizing: border-box;
    padding: 2%;
    }
    .mensagem h1{
        font-weight: bold;
        font-size: 1.6em;
    }

 .instrumentos{

    width: 40%;
    height: 100px;
    float: right;
    margin-top:2%;
    background: #797777ea;
    box-sizing: border-box;
    padding: 2%;
    }
 .instrumentos a{
     text-decoration: none;
     text-align: center;
     color:black;
    }
 .instrumentos img{
    margin:2px auto;
    width: 60px;
    height: 40px;
    border-radius: 8px;
    }
 .instrumentos ul li{
    display: inline-block;
    margin:0px 4% 0px 5%;
   
    }
/*Estilos da area de busca*/
    #logotipo{

        width: 160px;
        height: 105px;
    }

    #logobusca{
        
        height: 115px;
        background-color:#a8a5a5ea;
    }
/*Estilos das informações da musica*/  
    .professores{
        width: 100%;
        margin: auto;
        padding: 20px;
        box-sizing: border-box;
    }
    .professores ul{
        padding: 0px;
        margin: 0px;
        
    }
    .professores ul li {
        list-style: none;
        width: 20%;
        margin-left: 4%;
        height: 170px;
        display: inline-block;
        text-align: center;
        margin-top: 2%;
        cursor: pointer;
    }
    .professores ul li .fotoprofessor{
        width: 100%;
        height: 70%;
       border-radius: 8px;
    
    }
    .professores ul li:hover{
        -webkit-transform:scale(1.1);
    }
    .professores ul li p{
        padding-top: 1.6%;
        font-size: 1.1em;        
    }
/*Estilos do rodape*/  
    footer#rodape{
        width: 100%;
        height: 40% ;
        background-color: black;
        color: white;
    }
    footer p#copyright{

        position: relative;
        top: 100px;
    }

    footer div{

        margin-left: 20px;
    }
    #logorodape{

        width: 120px;
        height: 80px;
        position: relative;
        margin-left: 380px;
    }
    ul#musikada{
        list-style: none;
        position: relative;
        margin-left: 510px;
        top: -60px;
    }
    ul#musikada li{
        margin: 4px;
    }
    ul#organizador{
        list-style: none;
        position: relative;
        margin-left: 680px;
        top: -140px;
    }
    ul#organizador li{
        margin: 4px;
    }
    ul#central{
        list-style: none;
        position: relative;
        margin-left: 910px;
        top: -200px;
    }
    ul#central a{
        margin: 4px;
    }
    footer div a{
        color: white;
        text-decoration: none;
    }
    footer div a:hover{
        text-decoration: underline;
    }
    .rede{

        position: relative;
        margin-top: -120px;
        margin-left: 380px;
        
    }
    .rede h1{
        font-size: 1.3em;
    }
  
    .rede a{
        display: inline-flex;
        margin:1.5%;
    }
    .rede img{
        width: 30px;
    }